@model List<CompanyViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Company</h2>

<table>
    <thead>
    <tr>
    <th>Id</th>
    <th>Brand</th>
    <th>Registration number</th>
    </tr>
    </thead>
    <tbody>
    
    @foreach (var company in @Model)
    {
        Html.RenderPartial("~/Views/Home/_CompanyPartial.cshtml", company);
        <partial name="_CompanyPartial" model="company" />
    }
    </tbody>
</table>
